@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --white: #FFFFFF;
    --black: #000000;
    --red: #AD1115;
    --box-shadow: #EEEEEE;
}

*,
*::after,
*::before { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* img, picture {
    max-width: max-content;
} */

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 3px solid red; */
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    padding: 10px 40px 10px 40px;
    /* border: 3px solid black; */
    background-color: #AD1115;
    align-items: center;
}

nav h1 {
    color: #FFFFFF;
    font-style:oblique;
}

nav ul {
    color: #EEEE;
    display: flex;
    list-style-type: none;
    /* border: 3px solid palegreen; */
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
}

section {
    /* border: 3px solid red; */
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    filter: blur(.9px) brightness(0.6);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.header-text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2; 
}

.header-text h1 {
    color: var(--white);
    font-size: 5rem;
}

.header-text p {
    color: #FFFFFF;
    font-style: oblique;
    font-size: 30px;
}

form {
    display: flex;
    flex-direction: column;
    height: 250px;
    justify-content: space-between;
    align-items: center;
    border: 3px solid red;
    padding-top: 20px;
    padding-bottom: 20px;
}


footer {
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
}

footer .footerBoxes {
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 35px 50px 35px 50px;
    /* border: 3px solid yellow; */

}

footer .footerBoxes .footerBox {
    flex-direction: column;
    text-align: start;
    /* border: 3px solid red; */
}

footer .footerBoxes .footerBox h3 {
    color: whitesmoke;
    font-size: 16.5px;
    font-weight: bold;
    letter-spacing: 0px;
}

footer .footerBoxes .footerBox hr {
    width: 40px;
    background: rgb(148, 148, 148);
    border: 1px solid rgb(70, 69, 69);
    margin-bottom: 8px;
}

footer .footerBoxes .footerBox p {
    font-size: 13px;
    color: rgb(70, 69, 69);
}

footer .splitter {
    align-items: center;
    height: 0px;
    margin: 30px 25px 5px 25px;
    background: none;
    border: 1px solid rgb(94, 92, 92);
}

.copy-right {
    align-items: center;
    font-size: 13.5px;
    text-align: center;
    opacity: 70%;
    padding: 10px;
}

